<!-- 
  Created by:Pramod Kumar Reddy 
  Created on: 26-Jul-2019 1:00 PM
  Purpose: To change  new password
-->
<div mat-dialog-title>
  Change Password
</div>
<div mat-dialog-content>
  <div class="form-group mb-4">
    <form [formGroup]="change_password_form">
      <mat-form-field floatLabel="always">
        <mat-label>Current Password</mat-label>
        <input type="password" name="current_password" class="w-93" matInput placeholder="Password"
          formControlName="current_password" [required]="true">

      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label> New Password</mat-label>
        <input type="password" name="new_password" class="w-93" matInput placeholder="Password"
          formControlName="new_password" [required]="true">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>Reenter Password</mat-label>
        <input type="password" name="reenter_password" class="w-93" matInput placeholder="Password"
          formControlName="reenter_password" [required]="true">
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button [disabled]="change_password_form.invalid" class="float-right ml-1 btn btn-sm btn-info" (click)="save()">
    Submit
  </button>
  <button class="float-right ml-auto btn btn-sm btn-danger" (click)="cancel()">
    Cancel
  </button>
</div>