<div *ngIf="!isOTPSendSuccessfully==true" mat-dialog-title>
    Forgot Password
    <span class="float-right" (click)="close()">
        <i class="fa fa-times"></i>
    </span>
</div>
<div mat-dialog-content>
    <h4 class=" text-center alert alert-success" *ngIf="isOTPSendSuccessfully==true">Please check your E-mail</h4>
    <!-- <img *ngIf="isOTPSendSuccessfully==true" src="assets/download.jpg"
        style="width:150px;height:180px;margin-left:25px"> -->
    <!-- <h5 class=" text-center" *ngIf="invalid==true">Please Fill the Field</h5> -->
    <form [formGroup]="password_form" *ngIf="!isOTPSendSuccessfully==true">

        <!-- <div class="row " > -->
        <!-- <div class="col-md-12"> -->
        <div class="form-group">
            <mat-form-field floatLabel="always">
                <mat-label>Username</mat-label>
                <input name="nodes" class="w-93" formControlName="login_id" matInput placeholder="Enter your username"
                    [required]="password_form.value.login_id!=null">
                <mat-error
                    *ngIf="password_form.controls.login_id.touched && password_form.controls.login_id.errors?.required">
                    Please enter your username</mat-error>
            </mat-form-field>
        </div>

        <!-- </div> -->
        <!-- </div> -->


    </form>

</div>
<div mat-dialog-actions>
    <div class="form-group w-100">
        <button *ngIf="!isOTPSendSuccessfully" class=" btn btn-sm" mat-button mat-button-base
            style="width:100%;background-color:#16235b !important;color:white" (click)="save()">
            Find My Account?
        </button>
        <button *ngIf="isOTPSendSuccessfully" class=" btn btn-sm" mat-button mat-button-base
            style="width:100%;background-color:#16235b !important;color:white" (click)="close()">
            Close
        </button>
    </div>

</div>
<!-- padding: 9px 0px 29px 0px; -->