<form [formGroup]="form">
    <label *ngIf="label_block" class="m-0 html-label" [ngClass]="{'req':required}" [innerHtml]="label | HTMLFormatter"></label>

    <mat-form-field floatLabel="always" appearance="standard">
        <mat-label *ngIf="!label_block&&required" class="req" [innerHtml]="label | HTMLFormatter"></mat-label>
        <mat-label *ngIf="!label_block&&!required"  [innerHtml]="label | HTMLFormatter"></mat-label>
        <input matInput [placeholder]="placeholder" [value]="value" type="password" [id]="id" [style]="style"
            [formControlName]="controlName" [maxlength]="maxLength" [readonly]="disabled ? true : false">
        <mat-hint>{{hint}}</mat-hint>
        <mat-error>
            {{error_msg}}
        </mat-error>
    </mat-form-field>
</form>