<form [formGroup]="form">
    <label *ngIf="label_block" class="m-0 html-label" [ngClass]="{'req':required}"
        [innerHtml]="label | HTMLFormatter"></label>

    <mat-form-field [title]="label ? (label | HTMLFormatter : 1) : ''" floatLabel="always" appearance="standard"
        [ngClass]="label_class && label_class!='' ?label_class:''">
        <mat-label *ngIf="!label_block&&required&&label" class="req">
            <span [innerHtml]="label | HTMLFormatter"></span>
        </mat-label>
        <mat-label *ngIf="!label_block&&!required&&label&&label!=''">

            <span [innerHtml]="label | HTMLFormatter"></span>

        </mat-label>
        <span matPrefix class="prefix" *ngIf="prefix_label">{{prefix_label}}&nbsp;</span>
        <span matSuffix class="suffix" *ngIf="suffix_label">&nbsp;{{suffix_label}}</span>
        <input (keydown)="regexCheck($event)" matInput [placeholder]="placeholder" [value]="value" type="number"
            [id]="id" [style]="style" [formControlName]="controlName" [maxlength]=" getNumber(maxLength) "
            [minLength]="minLength" [max]="maxValue" [min]="minValue" [readonly]="disabled ? true : false">
        <mat-error *ngIf="form.get([controlName]).hasError('required');else maxlength">
            Field is mandatory
            <!-- <span [innerHTML]="label + ' is mandatory'"></span> -->
        </mat-error>
        <ng-template #maxlength>
            <mat-error *ngIf="form.get([controlName]).hasError('maxlength');else minlength">
                Maximum length ({{maxLength}}) has exceeded
            </mat-error>
        </ng-template>
        <ng-template #minlength>
            <mat-error *ngIf="form.get([controlName]).hasError('minlength');else maxvalue">
                Minimum length must be {{minLength}} digits
            </mat-error>
        </ng-template>
        <ng-template #maxvalue>
            <mat-error *ngIf="form.get([controlName]).hasError('max');else minvalue">
                Value must be lesser than {{maxValue}}
            </mat-error>
        </ng-template>
        <ng-template #minvalue>
            <mat-error *ngIf="form.get([controlName]).hasError('min')">
                Value must be greater than {{minValue}}
            </mat-error>
        </ng-template>
    </mat-form-field>
</form>