.margin-left-5 {
    margin-left: 5px;
}

.mat-menu-item {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 40px;
    height: 40px;
    padding: 0 16px;
    padding-left: 5px !important;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
}
