<div class="row">
    <div class="col-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" #shoppingItemName>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="">Amount</label>
                    <input type="number" class="form-control" #amountData>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success mx-1" type="submit" (click)="addItemAndAmount()">Add</button>
                    <button class="btn btn-danger mx-1" type="button">Delete</button>
                    <button class="btn btn-success mx-1" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>