.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
  }

  #cropper-div{
    position:absolute;
    border:1px dotted grey;
    height: 50px;
    width: 25px;
    resize:horizontal;
    resize: both;
    overflow: auto;
    min-width: 300px;
    min-height: 169px;
    z-index: 1000;
  }

  #cropped-image{
      z-index: 999;
  }


//   <div class="modal-header">
//   <h4 class="modal-title">
//     <span *ngIf="crop_flag">
//       Crop
//     </span>
//     <span *ngIf="!crop_flag">
//       Preview
//     </span>
//     <div *ngIf="images_copy && images_copy.length>1" style="display:inline-block;margin-left:20px;">
//       <span (click)="changeIndex(-1)" class="fa fa-angle-left"></span>
//       {{index+1}} of {{images_copy.length}}
//       <span (click)="changeIndex(1)" class="fa fa-angle-right"></span>
//     </div>
//   </h4>
//   <button type="button" class="close" aria-label="Close" (click)="closeModal(image_src)">
//     <!--(click)="activeModal.dismiss(images_copy)"-->
//     <span aria-hidden="true">&times;</span>
//   </button>
// </div>
// <div *ngIf="crop_flag && images_copy" class="container-fluid">
//   <image-cropper [imageBase64]="images_copy[index].base64" [maintainAspectRatio]="false" [aspectRatio]="aspectRatio"
//     [resizeToWidth]="500" onlyScaleDown="true" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
//     (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
//   </image-cropper>
//   <!-- <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="aspectRatio"
//     [resizeToWidth]="600" onlyScaleDown="true" format="png" (imageCropped)="imageCropped($event, 1)"
//     (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper> -->
//   <img [src]="images_copy[index].content" *ngIf="display_cropped_image" />
//   <!-- <img [src]="ipadCroppedImage" /> -->
// </div>
// <div style="text-align: center;" *ngIf="!crop_flag && images_copy" class="container-fluid">
//   <img style="max-width:100%;" *ngIf="!prepend_path" [src]="images_copy[index]" />
//   <img style="max-width:100%;" *ngIf="prepend_path"
//     [src]="'https://storage.googleapis.com/nearkart/'+images_copy[index]" />
// </div>
// <div class="modal-footer">
//   <div class="inline-block mr-auto">
//     <a *ngIf="!prepend_path && images_copy" [href]="images_copy[index]" download="image_{{index}}">
//       <button *ngIf="!crop_flag" class="btn btn-default mr-auto">
//         <i class="fa fa-download"></i>
//       </button>
//     </a>

//     <button *ngIf="images_copy && images_copy.length > 1" (click)="removeImage()" class="btn btn-default">
//       <i class="fa fa-trash"></i>
//     </button>
//   </div>

//   <button class="btn btn-danger" type="button" class="close" aria-label="Close" (click)="closeModal(image_src)">
//     Close
//   </button>
//   <button *ngIf="crop_flag" class="btn btn-info" type="button" class="close" aria-label="Close"
//     (click)="closeModal(images_copy)">
//     Save
//   </button>
// </div>